/*Main*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v18-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Libre";
  src: url("../fonts/libre-baskerville-v5-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Libre Italic";
  src: url("../fonts/libre-baskerville-v5-latin-italic.woff") format("woff");
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body-wrap {
  background-image: url(../images/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Header*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.navbar {
  font-size: 18px;
  padding-bottom: 10px;
}
.nav-links {
  list-style-type: none;
  display: none;
}
.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255);
}

.nav-links li {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  background-color: rgb(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.show-nav {
  display: block;
}

/*Home Page*/

/*About*/

.slideshow-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.buttons {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 20px;
  color: #fff;
  font-size: 2rem;
}

.previous {
  background-image: url(../images/arrow-back.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  background-image: url(../images/arrow-forward.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.buttons span {
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}

.slideshow-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slideshow-nav li {
  display: flex;
  flex: 2;
  text-align: center;
}

.slideshow-images {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
}

.slideshow-images.active-image {
  display: block;
  animation: fadeImg 0.8s;
}

.slideshow-nav .arrow {
  flex: 0 0 15%;
}

.slideshow-nav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.slideshow-nav span {
  display: block;
  width: 100%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Contact Form*/

.contact-container {
  margin: 20px auto;
  padding: 10px 0 40px 0;
  align-content: center;
  width: 55%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-form {
  margin: auto;
  width: 80%;
}

div .input,
h2 {
  color: #ffffff;
}

h2 {
  font-size: 30px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  border: solid 1px lightgrey;
  height: 20px;
  padding: 10px 0;
  outline: none;
}

textarea {
  width: 100%;
  border: solid 1px lightgrey;
  height: 120px;
  padding: 10px 0;
  outline: none;
}

button {
  height: 35px;
  background-color: #040d8d;
  color: #ffffff;
  border: none;
  font-size: 20px;
  margin: 10px 0;
}

.error {
  color: red;
  display: none;
}

/*Footer*/

footer p {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  /*Header*/

  .navbar-button {
    display: none;
  }

  #logo {
    padding: 5px;
  }

  .main-nav {
    display: flex;
    justify-content: space-around;
    align-content: right;
    min-height: 6vh;
  }

  .nav-links {
    display: flex;
    width: 40%;
  }

  .nav-links li {
    list-style: none;
    background-color: transparent;
    border-bottom: none;
  }

  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    margin: 0 10px;
  }

  .menu-links {
    display: flex;
    justify-content: right;
    margin: 20px 0;
  }
  li a:hover {
    background-color: rgb(104, 105, 104);
  }

  .active {
    border-bottom: #ffffff 2px solid;
  }

  /*About*/
  .slideshow-container {
    width: 70%;
    margin: auto;
  }
}
