/*Main*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v18-latin-regular.woff") format("woff");
}

body {
  font-family: "Roboto";
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  background-image: url(../images/back.jpg);
  background-size: cover;
  position: static;
  background-position: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body-wrap {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Header*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  font-size: 18px;
  padding-bottom: 10px;
}
.nav-links {
  list-style-type: none;
  display: none;
}
.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-links li {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 15px 0;
  background-color: rgb(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.show-nav {
  display: block;
}

/*Home Page*/

.homepage-head {
  margin: 40px 20px;
}

.h1-1 {
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 10px #000000;
}

.h1-2 {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 10px #000000;
}

.homepage-head p {
  color: #fff;
  padding: 20px 0;
  margin-right: 60px;
  text-shadow: 2px 2px 10px #000000;
}

.link1 {
  background-image: url(../images/homepage-link-1.jpg);
}

.link2 {
  background-image: url(../images/homepage-link-2.jpg);
}

.link3 {
  background-image: url(../images/homepage-link-3.jpg);
}

.link1,
.link2,
.link3 {
  display: block;
  margin: 40px auto;
  text-align: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #000000 1px solid;
}

.homepage-link a {
  position: relative;
  top: 75%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #040d8d;
  border: #030a68 1px solid;
  padding: 7.5px 10px;
  border-radius: 30px;
  text-transform: uppercase;
}

.social-media-links {
  margin: 10px auto;
  text-align: center;
}

.social-media-links a {
  padding: 5px;
}

/*About*/

.about-wrap h1 {
  text-transform: uppercase;
  color: #fff;
  margin: 10px auto;
}

.about-head-info h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  background: #040d8d;
  border: #030a68 1px solid;
  padding: 10px;
  margin-bottom: 30px;
}

.about-head-info p {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

.about-head-info {
  flex: 1;
  margin: 20px auto;
}

.about-wrap {
  display: flex;
  flex-direction: column;
}

.life-column-1 {
  margin: 20px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.life-info-row-1 {
  flex: 1;
}

.life-info-row-2 {
  flex: 1;
}

.slideshow-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.buttons {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 20px;
  color: #fff;
  font-size: 2rem;
}

.previous {
  background-image: url(../images/arrow-back.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.next {
  background-image: url(../images/arrow-forward.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.buttons span {
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}

.slideshow-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slideshow-nav li {
  display: flex;
  flex: 2;
  text-align: center;
}

.slideshow-images {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
}

.slideshow-images.active-image {
  display: block;
  animation: fadeImg 0.8s;
}

.slideshow-nav .arrow {
  flex: 0 0 15%;
}

.slideshow-nav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.slideshow-nav span {
  display: block;
  width: 100%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Location*/

.location-wrap {
  font-family: "Roboto";
  margin-bottom: 30px;
}

.location-content {
  padding: 15px 5px;
  background: rgb(0, 0, 0, 0.8);
}

.location-wrap h1 {
  text-transform: uppercase;
}

.location-wrap h2,
.location-wrap h1,
.location-wrap p {
  text-align: center;
  color: #fff;
  margin: 20px 5px;
}

#map {
  height: 100%;
  height: 300px;
  margin: 0 auto;
}

.location-link {
  display: flex;
  align-content: center;
  justify-content: center;
}

.location-link a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #040d8d;
  border: #030a68 1px solid;
  padding: 7.5px 10px;
  border-radius: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.iss-video {
  text-align: center;

  margin: 0 auto;
  background: rgb(0, 0, 0, 0.8);
  padding: 30px 0;
}

.iss-video iframe {
  width: 300px;
  height: 165px;
}

/* History */
.timeline-container h1 {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.timeline-content h2 {
  color: #000000;
  font-size: 24px;
  text-align: left;
  padding: 10px;
}

.timeline-content h3 {
  color: #040d8d;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.timeline-content p {
  color: #1a1a1a;
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

.timeline-wrap {
  display: flex;
  margin: 20px auto;
  align-content: center;
  justify-content: center;
}
.timeline-container {
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.timeline-images {
  margin: 0 auto;
  padding: 10px;
}

.timeline-container:before {
  content: "";
  width: 7px;
  height: 100%;
  background: #040d8d;
  position: absolute;
  left: 15px;
}

.timeline-content {
  background: rgb(255, 254, 254);
  padding: 20px;
  margin: 20px 40px;
  width: 280px;
  border-radius: 8px;
  position: relative;
}

.timeline-content:before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
}

.timeline-content:after {
  content: "";
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border: 6px solid rgb(196, 15, 15);
  position: absolute;
  border-radius: 50%;
  left: -40px;
  top: 50%;
  transform: translatey(-50%);
}

.timeline-info {
  display: flex;
  flex-direction: column;
}

/*Contact Form*/

.contact-container {
  margin: 20px auto;
  padding: 10px 0 40px 0;
  align-content: center;
  width: 100%;
  background: rgb(0, 0, 0, 0.8);
  border: rgba(255, 255, 255, 0.5) 0.5px solid;
}

.contact-form {
  margin: auto;
  width: 80%;
}

div .input {
  color: #ffffff;
}

.contact-form p {
  margin-top: 20px;
}

.contact-form-head h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  color: #ffffff;
}

input[type="text"] {
  width: 100%;
  background: rgb(253, 253, 253);
  border: solid 1px rgb(204, 204, 204);
  border-radius: 2px;
  height: 25px;
  padding: 10px 0;
  outline: none;
}

textarea {
  width: 100%;
  background: rgb(253, 253, 253);
  border: solid 1px rgb(204, 204, 204);
  border-radius: 2px;
  height: 120px;
  padding: 10px 0;
  outline: none;
}

button {
  height: 35px;
  background-color: #040d8d;
  color: #ffffff;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 30px;
}

button:hover {
  cursor: pointer;
}

.error {
  color: red;
  display: none;
}

/*Confirmation*/

.contact-form-head img {
  width: 100px;
  height: 100px;
}

.contact-form-head p {
  font-size: 15px;
  margin: 30px 5px;
}

.confirmation-link {
  display: flex;
  justify-content: center;
}

.contact-container a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #040d8d;
  border: #0b0f4d 1px solid;
  padding: 7.5px 10px;
  border-radius: 30px;
}

/*Footer*/

footer p {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin: 0 auto;
}

.social-media-links a {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*Header*/

  .navbar-button {
    display: none;
  }

  #logo {
    padding: 5px;
  }

  .main-nav {
    display: flex;
    justify-content: space-around;
    align-content: right;
    min-height: 6vh;
  }

  .nav-links {
    display: flex;
    width: 40%;
  }

  .nav-links li {
    list-style: none;
    background-color: transparent;
    border-bottom: none;
  }

  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    margin: 0 10px;
  }

  .menu-links {
    display: flex;
    justify-content: right;
    margin: 20px 0;
  }
  li a:hover {
    background-color: rgb(104, 105, 104);
  }

  .active {
    border-bottom: #ffffff 2px solid;
  }

  /*Home page*/

  .homepage-head {
    margin: 40px 100px;
  }

  .homepage-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .homepage-link-container {
    flex: 1;
  }

  .homepage-link {
    margin: 0 auto 40px auto;
  }

  /*About*/

  .about-head-info {
    flex: 1;
    margin: 20px auto;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
  }

  .about-life-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .life-column-1 {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
  }

  .life-info-row-1 {
    flex: 1;
    width: 360px;
  }

  .life-info-row-2 {
    flex: 1;
    width: 360px;
  }

  .slideshow-container {
    width: 80%;
    margin: auto;
  }

  /*Location*/

  .h1-location {
    color: #fff;
  }

  #map {
    height: 100%;
    height: 350px;
    margin: 0 auto;
  }

  .location-wrap h2,
  .location-wrap p {
    font-family: "Roboto";
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px 5px;
  }

  .location-wrap {
    background: rgb(0, 0, 0);
    margin-bottom: 30px;
  }

  .location-container1 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: rgb(255, 255, 255);
  }

  .location-container2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    background: rgb(255, 255, 255);
  }

  .location-container3 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: rgb(255, 255, 255);
  }

  .location-flex-1,
  .location-flex-2,
  .location-flex-3 {
    flex: 1;
  }

  .location-content {
    padding: 10px;
    background: none;
  }

  .iss-image {
    height: 100%;
    width: 100%;
  }

  .iss-video {
    text-align: center;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.8);
  }

  .iss-video iframe {
    width: 560px;
    height: 315px;
  }

  /*History*/

  .timeline-container h1 {
    font-size: 30px;
  }

  .timeline-wrap {
    width: 90%;
  }

  .timeline-images {
    width: 70%;
    height: 70%;
  }

  .timeline-content {
    width: 600px;
  }

  .timeline-info {
    display: flex;
    flex-direction: row;
  }

  /*Contact*/
  .contact-container {
    width: 700px;
  }

  textarea {
    height: 180px;
  }
}

@media screen and (min-width: 1025px) {
  /*Header*/

  .navbar-button {
    display: none;
  }

  #logo {
    padding: 5px;
  }

  .main-nav {
    display: flex;
    justify-content: space-around;
    align-content: right;
    min-height: 6vh;
  }

  .nav-links {
    display: flex;
    width: 40%;
  }

  .nav-links li {
    list-style: none;
    background-color: transparent;
    border-bottom: none;
  }

  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    margin: 0 10px;
  }

  .menu-links {
    display: flex;
    justify-content: right;
    margin: 20px 0;
  }
  li a:hover {
    background-color: rgb(104, 105, 104);
  }

  .active {
    border-bottom: #ffffff 2px solid;
  }

  /*Home page*/

  .homepage-wrap {
    width: 70%;
    margin: auto;
  }

  .homepage-head {
    margin: 60px 80px;
  }

  .h1-1 {
    font-size: 40px;
    text-shadow: 2px 2px 10px #000000;
  }

  .h1-2 {
    font-size: 60px;
    text-shadow: 2px 2px 10px #000000;
  }

  .homepage-head p {
    font-size: 20px;
    padding: 20px 0;
    margin-right: 60px;
    text-shadow: 2px 2px 10px #000000;
  }

  .homepage-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .homepage-link-container {
    flex: 1;
  }

  .homepage-link {
    margin: 0 auto 40px auto;
  }

  /*About*/

  .about-head-info {
    flex: 1;
    margin: 20px auto;
  }

  .about-wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .about-life-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .life-column-1 {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
  }

  .life-info-row-1 {
    flex: 1;
    width: 440px;
  }

  .life-info-row-2 {
    flex: 1;
    width: 440px;
  }

  .slideshow-container {
    width: 80%;
    margin: auto;
  }

  /*Location*/

  .location-wrap {
    width: 60%;
    margin: 0 auto;
  }

  .h1-location {
    color: #fff;
  }

  #map {
    height: 100%;
    height: 350px;
    margin: 0 auto;
  }

  .location-wrap h2,
  .location-wrap p {
    font-family: "Roboto";
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px 5px;
  }

  .location-wrap {
    background: rgb(0, 0, 0);
    margin-bottom: 30px;
  }

  .location-container1 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: rgb(255, 255, 255);
  }

  .location-container2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    background: rgb(255, 255, 255);
  }

  .location-container3 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background: rgb(255, 255, 255);
  }

  .location-flex-1,
  .location-flex-2,
  .location-flex-3 {
    flex: 1;
  }

  .iss-image {
    height: 100%;
    width: 100%;
  }

  .location-content {
    padding: 20px;
    background: none;
  }

  .iss-video {
    margin: 0 auto;
    text-align: center;
    background: rgb(0, 0, 0, 0.8);
  }

  .iss-video iframe {
    width: 560px;
    height: 315px;
  }

  /*History*/

  .timeline-container h1 {
    font-size: 30px;
  }

  .timeline-wrap {
    width: 90%;
  }

  .timeline-images {
    width: 70%;
    height: 70%;
  }

  .timeline-content {
    width: 600px;
  }

  .timeline-info {
    display: flex;
    flex-direction: row;
  }
  /*Contact*/
  .contact-container {
    width: 900px;
  }

  textarea {
    height: 250px;
  }

  input[type="text"] {
    height: 30px;
  }
}
